App.game = App.cable.subscriptions.create "GameChannel",
  connected: ->
    @printMessage("Waiting for opponent...")
    # Called when the subscription is ready for use on the server

  disconnected: ->
    # Called when the subscription has been terminated by the server

  received: (data) ->
    switch data.action
      when "game_start"
        App.board.setPlayers(data.players)
        @printMessage("Game started! You play as #{data.msg}.");
        $('#tic-tac-toe-board').css({'display' : 'block'});

  move: (tile_number) ->
    number = parseInt(tile_number)
    board_state = App.board.move(number);

  printMessage: (message) ->
    $("#messages").append("<p>#{message}</p>")
