.game-body {
  -webkit-align-content: center;
  align-content: center;
}

table {
  width: 50%;
  height: 50%;
  border-collapse: collapse;
}
td {
  width: 33.333%;
  border: 6px solid #222;
  object-fit: contain;
}
td::after {
  content: '';
  display: block;
  margin-top: 100%;
}
td {
  border: 6px solid #222;
}
td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}
td:nth-of-type(2) {
  border-top-color: transparent;
}
td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}
tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

.move-button {
  display: block;
  height: 100% !important;
  width: 100% !important;
  background-color: green;
  color: white;
}
